<h1 id="tableLabel">Component List</h1>

<p *ngIf="!components"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="components">
  <thead>
    <tr>
      <th (click)="sort(0)">Id</th>
      <th (click)="sort(1)">Name</th>
      <th (click)="sort(2)">Status</th>
      <th (click)="sort(3)">Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of components">
      <td>{{ c.id }}</td>
      <td>{{ c.name }}</td>
      <td>{{ c.status }}</td>
      <td>{{ c.type }}</td>
    </tr>
  </tbody>
</table>
<button class="btn btn-nav" (click)="prevPage()">Previous</button>
<button class="btn btn-nav" (click)="nextPage()">Next</button>